<button mat-flat-button color="primary" style="margin-right: 5%;" (click)="rechercherSUB()">Rechercher SUB</button>
<button mat-flat-button color="primary" style="margin-right: 5%;" (click)="rechercherOBS()">Rechercher OBS</button>
<button mat-flat-button color="warn" (click)="effacer()">Effacer</button>

<div>
    <p *ngIf="userSelected">SUB Utilisateur trouvé: {{ userSelected.nom }}</p>
    <p *ngIf="rechercheByObs">OBS Utilisateur trouvé: {{ userSelected$ | async }}</p>
</div>