<mat-toolbar>
    <ul>
        <li><a href="" routerLink="/material" routerLinkActive="selected">Material Angular</a></li>
        <li><a href="" routerLink="/map" routerLinkActive="selected">Opérateurs Map</a></li>
        <li><a href="" routerLink="/challenge" routerLinkActive="selected">Challenges JS</a></li>
    </ul>
</mat-toolbar>
