mat-toolbar {
    background-color: rgb(120 120 120);
    position: fixed;
    z-index: 2;
    top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    width: 50%;
}

ul > li {
    margin-right: 10%;
    min-width: 10rem;
}

ul > li > a {
    text-decoration: none;
    color: #000eb5;
}

ul > li > a:hover {
    font-weight: bold; 
}

.selected {
    background-color: var(--body-background-color);
    padding: 5% 5%;
    border-radius: 10px;
}