<h3>Emission des observables</h3>
<p>Observable: </p>
<p>LETTRES : {{lettres}}</p>
<button mat-flat-button color="primary" style="margin-right: 5%;" (click)="start()">Start</button>
<button mat-flat-button color="warn" style="margin-right: 5%;" (click)="stop()">Stop</button>
<button mat-flat-button color id="reset" (click)="reset()">Reset</button>
<p>Subject Nombre: {{subjectNombre$ | async}}</p>
<p>Subject Lettre: {{subjectTexte$ | async}}</p>

<h3 style="margin-top: 7%;">Récupération des observables</h3>

<h4>SwitchMap</h4>
<p>Résultat : {{resultatSwitch}}</p>

<h4>MergeMap</h4>
<p>Résultat : {{ resultatMerge }}</p>

<h4>ConcatMap</h4>
<p>Résultat : {{ resultatConcat }}</p>