<h1>Ma bibliothèque Matérial Angular</h1>
  
<h2>Autocomplete</h2>
<app-mat-autocomplete></app-mat-autocomplete>
<hr>

<h2>Panel Expansion</h2>
<app-expansion-panel 
    titre="Titre du panel"
    [isDescription]=true
    description="Je suis visible car je suis ouvert!">
</app-expansion-panel>
<hr>

<h2>Mat Table Simple</h2>
<app-mat-table></app-mat-table>
<hr>

<h2>Mat Table Add/Delete Row</h2>
<app-mat-table-add-row></app-mat-table-add-row>
<hr>

<h2>Mat Select - Tout selectionner</h2>
<app-filtres
    [checkBoxFiltre]="checkBoxFiltre" [selectFiltre]="selectFiltre">
</app-filtres>
<hr>

<h2>Mat Paginator</h2>
<app-mat-paginator></app-mat-paginator>
