<h3>Subscribe</h3>
<p>Value: {{ subDOM }}</p>

<h3>ConcatMap</h3>
<p>
    Il souscrit à l'observable suivant que quand la précédente est terminée
    donc les observables vont être émises dans <b>l'ordre</b> de souscription.
</p>
<p>Value: {{ concatMapDOM }}</p>

<h3>MergeMap</h3>
<p>
    Il souscrit à toutes les observables directement et émet la première qui a finit
    donc ici l'observable avec le delay le plus court va être émise d'abord.
</p>
<p>Value: {{ mergeMapDOM }}</p>

<h3>SwitchMap</h3>
<p>
    Il se désabonne de l'observable dés qu'une valeur est reçu.
    Ici c'est la deuxième valeur (1000ms) qui est reçu en premier et switchMap se désabonne après cette valeur.
</p>
<p>Value: {{ switchMapDOM }}</p>

<button mat-flat-button color="primary" style="margin-right: 5%;" (click)="abonner()">Ecouter</button>
<button mat-flat-button color="warn" (click)="effacer()">Effacer</button>