<h1>Les opérateurs "map"</h1>

<h2>ConcatMap, MergeMap et SwitchMap</h2>
<app-merge-switch></app-merge-switch>
<hr>

<h2>Map Back</h2>
<app-map-back></app-map-back>
<hr>

<h2>Emission dans le temps</h2>
<app-map-temps></app-map-temps>
<hr>