<mat-expansion-panel    (opened)="panelOuvert=true"
                        (closed)="panelOuvert=false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ titre }}
      </mat-panel-title>
      <mat-panel-description *ngIf="isDescription">
        Description: je suis {{ panelOuvert ? 'ouvert' : 'fermé'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ description }}</p>
</mat-expansion-panel>