<article class="table-header">
    <button class="button-add-row" mat-button (click)="addRow()">Add Row</button>
</article>

<table mat-table [dataSource]="dataSource">
    <caption class="texte-cache">Mat Table simple</caption>
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema; index as i">
        <!-- Header -->
        <th mat-header-cell *matHeaderCellDef>
            {{ col.label }}
        </th>

        <!-- Cellules -->
        <td mat-cell *matCellDef="let element; index as j" id="cell-{{i}}-{{j}}">
            <!-- Affichage normale -->
            <ng-container [ngSwitch]="col.type" *ngIf="!element.isEdit">
                <div *ngSwitchCase="'btnEdit'" class="btn-edit">
                    <button mat-stroked-button (click)="editSwitch(element)">Edit</button>
                    <button mat-stroked-button color="warn" class="btn-delete-row" (click)="deleteRow(element)">Delete</button>
                </div>
                <div *ngSwitchCase="'date'">
                    {{ element[col.key] | date: "dd/MM/yyyy" }}
                </div>
                <div *ngSwitchDefault>
                    {{ element[col.key] }}
                </div>
            </ng-container>
            
            <!-- Edition -->
            <ng-container [ngSwitch]="col.type" *ngIf="element.isEdit">
                <div *ngSwitchCase="'btnEdit'" class="btn-edit">
                    <button mat-stroked-button (click)="editSwitch(element)">Done</button>
                </div>
                <mat-form-field *ngSwitchCase="'date'">
                    <mat-label>Choisir une date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="element[col.key]">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field *ngSwitchDefault>
                    <input [type]="col.type" matInput [(ngModel)]="element[col.key]">
                </mat-form-field>
            </ng-container>
        </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>