table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texte-cache {
    opacity: 0;
    height: 0;
}

.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
}

.btn-delete-row {
    margin-left: 1rem;
}

.btn-edit {
    text-align: right;
}

.button-remove {
    color: red;
}
