<table mat-table [dataSource]="dataSource">
  <caption class="texte-cache">Mat Table simple</caption>
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      {{ col.label }}
    </th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="col.type">
      <ng-container *ngSwitchCase="'date'">
        {{ element[col.key] | date: "dd/MM/yyyy"}}
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{ element[col.key] }}
      </ng-container>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>