<h1>
    Challenges proposés par Simon Dieny
    <a href="https://www.youtube.com/channel/UCZqq_ow06Husetd9ICEM2gQ/community" target="_blank">(YouTube)</a>
</h1>

<h2>Challenge 1</h2>
<div class="flex">
    <div class="instruction">
        <form (ngSubmit)="sum()" [formGroup]="challenge1Form">
            <div class="instruction-consigne">
                <p>
                    Retournez la somme des éléments qui sont des nombres.<br> 
                    Interdit d'utiliser des boucles: for, for...in, ... <br>
                    Utilisez les deux méthodes suivantes: filter() et reduce().<br>
                    <span>Exemple: arr = [{{ arr }}];</span><br><br>
                    <span>Entrez un tableau:</span>
                    <span>[ </span><input formControlName="tabSomme"><span> ]</span><br><br>
                    <span style="margin-top: 2%;">Votre tableau: [ {{tabSommeObs| async}} ]</span>
                </p>
            </div>
            <button mat-flat-button color="primary" style="margin-right: 5%;" (click)="sum()" [disabled]="challenge1Form.valid">Somme</button>
            <button mat-flat-button color="primary" style="margin-right: 5%;" type="submit" [disabled]="challenge1Form.invalid" [title]="challenge1Form.invalid?'Remplir le tableau':''">Somme Form</button>
            <button mat-flat-button color="warn" (click)="reset($event)" name="reset1">Reset</button>        
            <p *ngIf="somme" class="instruction-solution">La somme est: {{ somme }}</p>
        </form>
    </div>
    <div class="solution">
        <button mat-flat-button class="boutonSolution" (click)="solution($event)" name="solution1">Solution</button>
        <div *ngIf="solutionChallenge1" class="styleEditeur">
            <p>
                <span style="text-decoration: underline;">Exemple en dur:</span><br>
                this.arr<br>&nbsp;&nbsp;
                .filter(Number.isFinite)<br>&nbsp;&nbsp;
                .reduce((valPrev, valNext) => valPrev + valNext);
            </p>
            <p>
                <span style="text-decoration: underline;">Exemple avec input:</span><br>
                this.somme = this.tabSommeCtrl.value<br>&nbsp;&nbsp;
                    .split(',')<br>&nbsp;&nbsp;
                    .filter(Number)<br>&nbsp;&nbsp;
                    .map((elt: any) => Number(elt))<br>&nbsp;&nbsp;
                    .reduce((valPrev:number, valNext:number) => valPrev + valNext);
            </p>
        </div>
    </div>
</div>
<hr>

<h2>Challenge 2</h2>
<div class="flex">
    <div class="instruction">
        <div class="instruction-consigne">
            <p>
                Transformez un simple nombre en tableau de nombre, contenant chaque chiffre dans l'ordre inverse.<br>
                Utilisez reverse() et split().<br>
                <span>num = {{ num }} => [7,9,5,8,4,3].</span>
            </p>
        </div>
        <button mat-flat-button color="primary" style="margin-right: 5%;" (click)="reverse()">Inverse</button>
        <button mat-flat-button color="warn" (click)="reset($event)" name="reset2">Reset</button>        
        <p *ngIf="inversion[1]" class="instruction-solution">Inversion: {{ inversion }}</p>
    </div>
    <div class="solution">
        <button mat-flat-button class="boutonSolution" (click)="solution($event)" name="solution2">Solution 2</button>
        <div *ngIf="solutionChallenge2" class="styleEditeur">
            <p>
                num = 348597;<br>
                this.num.toString().split(' ').reverse().map(Number);
            </p>
        </div>
    </div>
</div>
<hr>

<h2>Challenge 3</h2>
<div class="flex">
    <div class="instruction">
        <div class="instruction-consigne">
            <p>
                Comptez le nombre de smiley "valide" dans un tableau donné.<br>
                Le smiley est valide si et seulement si:<br>
                1. Il DOIT contenir une paire d'oeils: ":" ou ";".<br>
                2. Il PEUT avoir un nez: "-" ou "~". (facultatif)<br>
                3. Il DOIT avoir un sourir: ")" ou "D".<br>
                <span>const smileArray = [':)', ';}', ';-D', ';(', ':}', ':]']</span>
            </p>
        </div>
        <button mat-flat-button color="primary" style="margin-right: 5%;" (click)="compter()">Compter</button>
        <button mat-flat-button color="warn" (click)="reset($event)" name="reset3">Reset</button>        
        <p *ngIf="nbSmiley>0" class="instruction-solution">Nombre de smiley valide: {{ nbSmiley }}</p>
    </div>
    <div class="solution">
        <button mat-flat-button class="boutonSolution" (click)="solution($event)" name="solution3">Solution 3</button>
        <div *ngIf="solutionChallenge3" class="styleEditeur">
            <p>
                let smileyFiltred = [];<br>
                smileyFiltred = this.smileArray.filter(elt => <br>
                (elt.includes(':') || elt.includes(';')) && (elt.includes(')') || elt.includes('D')));<br>
                this.nbSmiley = smileyFiltred.length;<br>
            </p>
        </div>
    </div>
</div>
<hr>

<h2>Challenge 4</h2>
<div class="flex">
    <div class="instruction">
        <div class="instruction-consigne">
            <p>
                Créer un générateur de couleur aléatoire au format RGB.<br>
                La valeur de retour doit être une chaîne de caractère.
            </p>
            <p>
                Exemple: generateRandomRGB() => 'rgb(60, 224, 136)'
            </p>
            <p class="coller-bas">
                Indice: Utiliser cette fonction:
            </p>
            <p class="styleEditeur">
                function getRandomNumber(min, max) &#123; <br>
                <span class="tabulation">return Math.floor(Math.random() * (max - min));</span>
                &#125;
            </p>
            <p class="coller-bas">A faire:</p>
            <p class="styleEditeur">
                function generateRandomRGB() &#123; <br>
                <span class="tabulation">return ...</span>
                &#125;<br><br>
                <span>generateRandomRGB()</span>
            </p>
        </div>
        <button mat-flat-button color="primary" style="margin-right: 5%;" (click)="generer()">Générer</button>
        <button mat-flat-button color="warn" (click)="reset($event)" name="reset4">Reset</button>        
        <p *ngIf="couleurAleatoire.length > 0" class="instruction-solution">
            <span class="couleur-generee" [style.backgroundColor]="couleurAleatoire"></span>
            {{couleurAleatoire}}
        </p>
    </div>
    <div class="solution">
        <button mat-flat-button class="boutonSolution" (click)="solution($event)" name="solution4">Solution 4</button>
        <div *ngIf="solutionChallenge4" class="styleEditeur">
            <p>
                generateRandomRGB(): void &#123;<br>
                <span class="tabulation">
                    const min = 0;<br>
                    const max = 255;<br>
                    let rouge = this.getRandomNumber(min, max);<br>
                    let vert = this.getRandomNumber(min, max);<br>
                    let bleu = this.getRandomNumber(min, max);<br>
                    this.couleurAleatoire = 'rgb('+rouge+', '+vert+', '+bleu+')';<br>
                </span>
                &#125;<br><br>
                
                getRandomNumber(min:number, max:number): number &#123;<br>
                <span class="tabulation">
                    return Math.floor(Math.random() * (max - min));<br>
                </span>
                &#125;
            </p>
        </div>
    </div>
</div>
