h1 {
    color: var(--h1-color);
    margin-bottom: 1.5em;
}

h2 {
    color: var(--h2-color);
}

.flex {
    display: flex;
}

.boutonSolution {
    background-color: #11a100;
}

.instruction {
    margin-right: 5%;
    width: 55%;
}

.instruction-consigne {
    margin: 0 0 1em 0;
    padding: 0.1rem 1rem;
    border-radius: 1em;
    background-color: wheat;
}

.instruction-consigne > span {
    font-weight: bold;
}

.instruction-solution {
    margin: 0.3 0 0 0;
    padding: 1em;
    border-radius: 1em;
    background-color: #f9cf82;
}

.solution {
    width: 50%;
}

.styleEditeur {
    background-color: black;
    color: darkgoldenrod;
    padding: 2%;
    border-radius: 10px;
    margin-top: 1%;
}

a {
    text-decoration: none;
    color: var(--h1-color);
    font-style: italic;
}

a:hover {
    cursor: pointer;
    opacity: 60%;
}

hr {
    margin: 3% 0;
}

button:disabled {
    cursor: not-allowed;
}

button:hover {
    opacity: 0.8;
}

.tabulation {
    display: block;
    margin-left: 1rem;
}

.coller-bas {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 1rem;
}

.couleur-generee {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    margin-right: 2%;
}
