/* You can add global styles to this file, and also import other style files */

html, body {
    /* Variables à utiliser dans tous les autres fichiers css */
    --h1-color: rgb(0, 88, 189);
    --h2-color: rgb(36, 88, 149);
    --body-background-color: rgb(173, 173, 173);
    
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--body-background-color);
}


/* Mat-table */
.mat-form-field-infix {
    width: 100% !important;
}


/* Mat-Autocomplete */
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(116, 0, 0);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(207, 0, 0);
}

.mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: rgb(0, 171, 40);
}

.mat-slide-toggle .mat-slide-toggle-bar {
    background-color: rgb(0, 89, 21);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255 255 255);
}


/* Mat-Table Add/Delete */
th.mat-header-cell:last-of-type {
    width: 30%;
}

/* Couleur des mat-select multiple */
.mat-form-field-flex {
    background-color: #f5f5f5;
}

.mat-form-field-flex:hover {
    background-color: rgb(201, 201, 201);
}

.checkbox-filtre > .mat-checkbox-layout {
    padding: 16px 16px 4px 16px;
    font-weight: 400;
}

.mat-optgroup > .mat-optgroup-label {
    margin-bottom: 0 !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #007e96;
}

.mat-form-field {
    display: block !important;
}