<form (ngSubmit)="valider()" [formGroup]="nombreForm">
  <div class="flex">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input 
      type="text" 
      placeholder="Choisir un nombre"
      aria-label="Nombre"
      matInput
      formControlName="nombreCtrlName"
      [matAutocomplete]="auto"
      >
      
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      
    </mat-form-field>
    
    <mat-slide-toggle
      class="toggle"
      [checked]="nombreCtrlName.disabled"
      (change)="toggleChange($event)">
        <span *ngIf="nombreCtrlName.disabled">Activer</span>
        <span *ngIf="!nombreCtrlName.disabled">Désactiver</span>
    </mat-slide-toggle>
  </div>

  <div class="action">
    <button (click)="reset()" type="button" mat-stroked-button class="btn-reset" [disabled]="nombreCtrlName.disabled">Reset</button>
    <button type="submit" mat-stroked-button class="btn-valider" [disabled]="nombreCtrlName.disabled">Valider</button>
  </div>

  <p *ngIf="nombreSelected">Le nombre choisi est : {{nombreSelected}}</p>
</form>
