mat-form-field {
    width: 15%;
}

.toggle {
    margin-left: 5%;
}

input:disabled {
    cursor: not-allowed; 
}

.action {
    display: flex;
    justify-content: space-around;
}

.btn-reset {
    color: #700e07;
}

.btn-reset:hover:not(.mat-button-disabled) {
    background-color: #c1787344;
}

.btn-valider {
    color: #3f51b5;
}

.btn-valider:hover:not(.mat-button-disabled) {
    background-color: #3f51b54b;
}

.mat-stroked-button.mat-button-disabled.mat-button-disabled {
    cursor: not-allowed;
}

.flex {
    display: flex;
}