/* :root {
    --primary-color: #007e96;
} */

.bloc-filtres {
    display: flex; 
    justify-content: space-between;
}

.tout-categorie {
    border-top: 1px solid black;
    margin: 0 16px !important;
    padding: 0 !important;
}

.btn-valider-filtre {
    background-color: #007e96;
    /* background-color: var(--primary-color); */
    color: #ffffff;
    border-radius: 3px;
    height: 3rem;
    margin-right: 1rem;
}

.btn-reset-filtre {
    background-color: #ffffff;
    color: #007e96;
    /* color: var(--primary-color); */
    border-radius: 3px;
    border: 1px solid #007e96;
    /* border: 1px solid var(--primary-color); */
    height: 3rem;
    margin-top: 1rem;
}

.btn-filtres {
    margin-top: auto;
    margin-bottom: auto;
}

.panel-title-filtre {
    color: #007e96;
    /* color: var(--primary-color); */
    font-size: 18px;
}

.gras {
    font-weight: 500;
}

.color-default {
    color: #cecece;
  }
  
.color-selected {
    color: #212121;
}
