<mat-accordion>
    <mat-expansion-panel (opened)="openPanel()" (closed)="closePanel()" [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="panel-title-filtre" [ngClass]="{'gras': isPanelOpen}">
                Filtrer&nbsp;<span *ngIf="getTotalNbFiltre()>0">({{getTotalNbFiltre()}})</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
  
        <form [formGroup]="formFiltre">
            <div class="bloc-filtres">
                
                <!-- Filtres de type checkBox -->
                <div *ngFor="let checkBoxFiltreItem of checkBoxFiltre; let indiceFiltre=index" [ngStyle]="{width: largeurFiltre + '%'}">
                    <p>{{checkBoxFiltreItem.titreFiltre}} <span *ngIf="getTotalByFiltre(indiceFiltre) > 0">({{getTotalByFiltre(indiceFiltre)}})</span></p>
                    <mat-form-field>
                        <mat-label class="labelCheck">Sélectionner</mat-label>
                        <mat-select multiple [formControlName]="checkBoxFiltreItem.formControlName">
                            <mat-checkbox 
                                class="checkbox-filtre"
                                [indeterminate]="isIndeterminate(checkBoxFiltreItem.titreFiltre)"
                                [checked]="isChecked(checkBoxFiltreItem.titreFiltre)"
                                (change)="toutSelectionner($event, indiceFiltre)">
                                    Tout sélectionner
                            </mat-checkbox>
                            <mat-optgroup 
                                *ngFor="let itemCategorie of checkBoxFiltreItem.checkBoxCategorie; let indiceCategorie=index" 
                                [label]="itemCategorie.categorieTitre">
                                <mat-option 
                                  (onSelectionChange)="optionToutChange($event, itemCategorie.categorieTitre)" 
                                  (click)="toutSelectionnerCategorie(checkBoxFiltreItem.titreFiltre, itemCategorie.categorieTitre)" 
                                  [value]="'tout-'+itemCategorie.categorieTitre|concat" 
                                  [id]="'tout-'+itemCategorie.categorieTitre|concat"
                                  class="tout-categorie">
                                    Tout
                                </mat-option>
                                <mat-option 
                                  *ngFor="let item of itemCategorie.categorieValeur" 
                                  (onSelectionChange)="optionChange($event, checkBoxFiltreItem.titreFiltre)" 
                                  [value]="item+'-'+indiceCategorie|concat">
                                    {{ item }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>
  
                <!-- Filtres de type select -->
                <div *ngFor="let selectFiltreItem of selectFiltre; let indiceFiltre=index" [ngStyle]="{width: largeurFiltre + '%'}">
                  <p>{{ selectFiltreItem.titreFiltre }}</p>
                  <mat-form-field>
                      <mat-select [formControlName]="selectFiltreItem.formControlName">
                        <mat-select-trigger [ngClass]="{'color-default': selectDefaultColor[indiceFiltre], 'color-selected': !selectDefaultColor[indiceFiltre]}">
                            {{selectTrigger[indiceFiltre]}}
                        </mat-select-trigger>
                        <mat-option 
                            *ngFor="let valeurItem of selectFiltreItem.selectValeur"
                            [value]="valeurItem"
                            [id]="valeurItem + '-' + indiceFiltre"
                            (click)="selectOptionClick(selectFiltreItem, valeurItem, indiceFiltre)">
                                {{ valeurItem }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="btn-filtres">
                    <button class="btn-valider-filtre" mat-button (click)="valider()">{{ "Appliquer les filtres" | uppercase }}</button>
                    <button class="btn-reset-filtre" mat-button (click)="reset()">{{ "Réinitialiser les filtres" | uppercase }}</button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>
  </mat-accordion>
  